*{
    margin: 0px 4px 0px 4px;
    padding: 0;
    width: calc(100% - 8px);
    height: auto;
    color: #55dd55;
    font-family: monospace;
}
body {
    background: url('https://cdn.pixabay.com/photo/2015/04/23/21/59/tree-736877_1280.jpg');
}
ul {
    list-style-type: none;
}
li {
    margin: 4px auto 4px auto
}
div#container {
    margin: 0px 4px 0px 4px;
    min-height: calc(100vh - 116px);
    height: auto;
    background: rgba(50, 50, 50, .7);
    border-radius: 10px;
}
div#header{
    margin: 4px 4px 4px 4px;
    height: 50px;
    position: relative;
    background:rgba(50, 50, 50, .7);
    text-align: center;
    border-radius: 10px;
}
nav#sidebar{
    width: 100px;
    min-height: calc(100vh - 116px);
    height: auto;
    margin: 0px auto 0px auto;
    background-color: rgba(80, 80, 80, .7);
    float: left;
    justify-content: center;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
}

div#footer{
    margin: 4px 4px 4px 4px;
    height: 50px;
    position: relative;
    background: rgba(80, 80, 80, .7);
    text-align: center;
    border-radius: 10px;
}
div#content {
    text-align: justify;
    padding: 4px 4px 4px 4px;
}